[submodule "pages/_static/jquery-syntax"]
	path = pages/_static/jquery-syntax
	url = git://github.com/ioquatix/jquery-syntax.git
[submodule "pages/_static/jquery-menu"]
	path = pages/_static/jquery-menu
	url = git://github.com/ioquatix/jquery-menu.git
