.comparison thead .question {
	width: 30%;
}

.comparison tbody .question {
	height: 60px;
}

.comparison .language {
	text-align: center;
}

.comparison tbody td.language {
}

.comparison th, .comparison td {
	text-align: center;
}

.comparison tbody .question {
	
}

.ranking tbody td {
	text-align: center;
}