
* {box-sizing: border-box;}

html {
	/* font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif; */
	font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif;
	font-weight: lighter;
	min-height: 100%;
}

html {
	--main-color: #111;
	--main-background-color: #fff;
	
	--header-color: #eee;
	--underlay-color: #ddd;
	
	--accent-color: #0062b3;
	--accent-hover-color: #33a3ff;
	
	--overlay-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
	html {
		--main-color: #e1e1e1;
		--main-background-color: #111;
		
		--header-color: #222;
		--overlay-color: #333;
		
		--accent-color: #01b9ff;
		--accent-hover-color: #80dcff;
		
		--overlay-color: rgba(0, 0, 0, 0.8);
		
		background-color: black;
	}
}

body {
	padding: 0;
	margin: 0;
	
	color: var(--main-color);
	background-color: var(--main-background-color);
}

body, p, ol, ul, blockquote {
	font-family: "Skia", verdana, arial, helvetica, sans-serif;
	line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: menlo, monospace;
	
	margin-top: 2em;
	margin-bottom: 1em;
}

blockquote {
	line-height: 2em;
}

img {
	border: none;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-hover-color);
}

.icon {
	vertical-align: middle;
}

p, dl, h3 {
	line-height: 1.4em;
	margin: 1em;
}

h3 {
	border-bottom: 1px solid var(--accent-color);
}

ul {
	line-height: 1.4em;
	margin-bottom: 1em;
}

h3, h4, h5, h6 {
	font-weight: normal;
}

/* Page Layout */

body {
	margin: 0px;
	padding: 0px;
}

.navigation {
	margin: 1rem 0;
}

.navigation .prev_link {
	float: left;
}

.navigation .next_link {
	float: right;
}

header {
	height: 40px;
	padding-top: 5px;
	padding-left: 5px;
	
	z-index: 100;
	
	position: relative;
}

main {
	padding: 2rem;
}

.gallery {
	text-align: center;
}

.gallery img {
	vertical-align: middle;
}

code.basic {
	display: block;
}

pre {
	margin: 2rem -2rem;
	padding: 2rem 4rem;
}

h2 {
	margin-top: 5em;
}

ul.trail, ul.trail li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.trail {
	height: 2.4em;
	border-bottom: 1px solid var(--main-color);
	
	background-color: var(--main-background-color);
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	z-index: 110;
}

ul.trail > li {
	font-weight: bold;
	float: left;
}

ul.trail > li > .link {
	display: block;
	padding-top: 2px;
	
	padding-right: 20px;
	margin-right: 10px;
}

ul.trail > li.children > .link {
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(/_static/nav-arrow-down.png);
}

ul.trail > li.children:hover > .link {
	background-image: url(/_static/nav-arrow-down-open.png);
}

ul.trail li {
	line-height: 2.2em;
	padding-left: 10px;
	padding-right: 10px;
}

ul.trail ul.menu {
	font-weight: normal;
	list-style: none;
	
	margin-top: 5px;
	padding: 0px;
	
	display: block;
	position: absolute;
	
	background-color: var(--main-background-color);
	border: 1px solid var(--main-color);
}

ul.trail ul.menu li {
	display: block;
	list-style: none;
	
	min-width: 200px;
}

ul.trail ul.menu li:hover {
	background-color: var(--main-background-color);
}

ul.trail ul.menu a {
	display: block;
}

table.basic thead tr > * {
	border-bottom: 2px solid black;
}

table.basic {
	width: 100%;
	padding-left: 5em;
	padding-right: 5em;
}

table.basic th {
	padding-top: 20px;
	padding-bottom: 20px;
}

.questions > li {
	padding-bottom: 50px;
}

.answer {
	border: 1px solid #0f0;
	background-color: #cfc;
	padding: 5px;
}

h1.language {
	text-align: center;
	
	background-repeat: no-repeat;
	background-position: 95% center;
	
	border: 2px solid var(--accent-color);
	
	background-color: var(--overlay-color);
	
	-webkit-border-radius: 10pt;
	-moz-border-radius: 10pt;
	border-radius: 10pt;
	
	padding: 50px;
	margin-top: 1rem;
}

#tags {
	text-align: center;
	padding: 25pt;
}

#tags a {
	background-color: #999;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	
	margin: 2px;
	
	-webkit-border-radius: 10pt;
	-moz-border-radius: 10pt;
	border-radius: 10pt;
}

#tags a:hover {
	color: black;
	background-color: #fff;

	margin: 0px;

	border: 2px solid black;
}

.languages {
	list-style: none;
	text-align: center;
	
	padding: 0;
	margin: 0;
}

.languages li {
	display: inline-block;

	margin: 10px;
	padding: 0px;
}

.languages li a {
	display: block;
	width: 100px;
	height: 150px;
	padding: 10px;
	
	background-position: center center;
	background-repeat: no-repeat;
}

.languages li:hover {
	border: 2px solid black;
}

.languages li {
	border: 2px solid #ccc;
	
	background-color: #fafafa;
	
	-webkit-border-radius: 10pt;
	-moz-border-radius: 10pt;
	border-radius: 10pt;
}

.message-box {
	border: solid 2px #dedeff;
	color: #222222;
	padding: 10px 48px 10px;
	text-align: center;
	
	background: #efefff url(/_static/flag.png) 8px center no-repeat;
	margin: 0px 50px 0px;
	
	line-height: 1.5em;
}

.trail .icon {
	float: right;
	padding: 3px;
}

.trail .icon img {
	padding: 0px 5px 0px;
}
