
* {box-sizing: border-box;}

html {
	/* font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif; */
	font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif;
	font-weight: lighter;
	min-height: 100%;
}

html {
	--main-color: #111;
	--main-background-color: #fff;
	
	--header-color: #eee;
	--underlay-color: #ddd;
	
	--accent-color: #0062b3;
	--accent-hover-color: #33a3ff;
	
	--overlay-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
	html {
		--main-color: #e1e1e1;
		--main-background-color: #111;
		
		--header-color: #222;
		--overlay-color: #333;
		
		--accent-color: #01b9ff;
		--accent-hover-color: #80dcff;
		
		--overlay-color: rgba(0, 0, 0, 0.8);
		
		background-color: black;
	}
}

body {
	padding: 0;
	margin: 0;
	
	color: var(--main-color);
	background-color: var(--main-background-color);
}

nav ul, header > *, main {
	display: block;
	max-width: 50rem;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: menlo, monospace;
	
	margin-top: 3rem;
	margin-bottom: 2rem;
}

p, dl, h3 {
	line-height: 1.4em;
	margin: 1em auto;
}

h2 {
	margin-top: 4rem;
}

h3 {
	border-bottom: 1px solid var(--accent-color);
}

blockquote {
	line-height: 2rem;
}

img {
	border: none;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-hover-color);
}

.icon {
	vertical-align: middle;
}

ul {
	line-height: 1.4em;
	margin-bottom: 1em;
}

h3, h4, h5, h6 {
	font-weight: normal;
}

/* Page Layout */

body {
	margin: 0px;
	padding: 0px;
}

.navigation {
	margin: 1rem 0;
}

.navigation .prev_link {
	float: left;
}

.navigation .next_link {
	float: right;
}

header {
	padding: 2rem;
	text-align: center;
	background-color: var(--header-color);
}

main {
	padding: 2rem;
}

.gallery {
	text-align: center;
}

.gallery img {
	vertical-align: middle;
}

code.basic {
	display: block;
}

pre {
	margin: 2rem -2rem;
	padding: 2rem 4rem;
}

table.basic thead tr > * {
	border-bottom: 2px solid black;
}

table.basic {
	width: 100%;
	padding-left: 5em;
	padding-right: 5em;
}

table.basic th {
	padding-top: 20px;
	padding-bottom: 20px;
}

.questions > li {
	padding-bottom: 50px;
}

.answer {
	border: 1px solid #0f0;
	background-color: #cfc;
	padding: 5px;
}

h1.language {
	text-align: center;
	
	background-repeat: no-repeat;
	background-position: 95% center;
	
	padding: 50px;
	margin-top: 1rem;
}

#tags {
	text-align: center;
	padding: 25pt;
}

#tags a {
	background-color: #999;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	
	margin: 2px;
	
	-webkit-border-radius: 10pt;
	-moz-border-radius: 10pt;
	border-radius: 10pt;
}

#tags a:hover {
	color: black;
	background-color: #fff;

	margin: 0px;

	border: 2px solid black;
}

.languages {
	list-style: none;
	text-align: center;
	
	padding: 0;
	margin: 0;
}

.languages li {
	display: inline-block;
	margin: 1rem;
	padding: 0;
}

.languages li a {
	display: block;
	width: 8rem;
	height: 12rem;
	padding: 1rem;
	
	background-position: center center;
	background-repeat: no-repeat;
}

.languages li {
	background-color: #ddd;
}

.languages li:hover {
	background-color: #eee;
}

.message-box {
	border: solid 2px #dedeff;
	color: #222222;
	padding: 10px 48px 10px;
	text-align: center;
	
	background: #efefff url(/_static/flag.png) 8px center no-repeat;
	margin: 0px 50px 0px;
	
	line-height: 1.5em;
}

.trail .icon {
	float: right;
	padding: 3px;
}

.trail .icon img {
	padding: 0px 5px 0px;
}

nav {
	background-color: #333;
}

main nav {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

nav ul {
	padding:0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
	background-color: #333;
}

nav a, nav span {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:15px;
	line-height: 40px;
	text-decoration:none;
}

nav a:hover {
	background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 40px;
	z-index: 1;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	min-width: 180px;
	float: none;
	display: list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

/* Change this in order to change the Dropdown symbol */
nav li > span:before { content:  '▼ '; }
nav li > span:only-child:before { content: ''; }